    <% if current_user && photo.favorited_by?(current_user) %>
        <span class="favorite_span">
            <%= link_to photo_favorites_path(photo.id), method: :delete, remote: true do %>
                <div class = "favorite_button">❤️<%= photo.favorites.count %>お気に入り済み</div>
            <% end %>
    <% else %>
            <%= link_to photo_favorites_path(photo.id), method: :post, remote: true do %>
                <div class = "favorite_button">♡️<%= photo.favorites.count %>お気に入りする</div>
            <% end %>
        </span>
    <% end %>