<div class="container">
    <div class="favorite-box">
            <% @favorites.each do |photo| %>
                    <div class="photo-box">
                        <%= image_tag photo.image.thumb.to_s %>
                        <div class="photo-text">
                            <%= link_to "#{photo.title}", photo_path(photo.id) %>
                        </div>
                    </div>
            <% end %>
    </div>
</div>