<div class="container">
        <div class="photo-index">
            <% @photos.each do |photo| %>
                <div class="photo-box">
                    <%= link_to photo_path(photo.id) do %>
                        <%= image_tag photo.image.thumb.to_s %>
                    <% end %>
                </div>
            <% end %>
        </div>
    <div class="top_button">
            <button class="button1"><%= link_to 'トップページへ戻る', root_path, data: {"turbolinks" => false} %></button>
        </div>
</div>