<div class="container">
    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>投稿者</th>
                <th>更新時間</th>
            </tr>
        </thead>
        <tbody>
            <% @boards.each do |board|%>
                <div class="row">
                    <tr>
                        <td><%= board.title %></td>
                        <td><%= board.name %></td>
                        <td><%= board.created_at %></td>
                    </tr>
                </div>
            <% end %>
        </tbody>
    </table>
</div>