<div class="container">
    <h2>写真一覧</h2>
        <% @photos.each do |photo| %>
            <div class="photo-box">
                    <%= link_to photo_path(photo.id) do %>
                        <%= image_tag photo.image.thumb.to_s %>
                    <% end %>
            </div>
        <% end %>
    <div class="paginate"><%= paginate @photos %></div>
</div>