// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.line {
    width: 100%;
    border-bottom: 1px solid #4c4747;
    margin: 10px 0;
}
.comment-date {
    text-align: right;
}
.comment-name {
    margin: 10px;
}
.paginate {
    text-align: center;
}
.box4 {
    background-color: aliceblue;
}
.panel panel-default {
    margin: 10px;
}