// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{
    height: 400px;
  }

  .image1 {
    text-align: center;
  }

  .photo-box {
    padding: 5px;
    margin: 5px 0 0 5px;
    display: inline-block;
  }
  .favorite-photo-box {
    text-align: center;
    margin: auto;
  }
  .text-box {
    text-align: center;
  }
  .favorite-rankings {
    margin: 0 auto;
    padding: 5%;
    width: 180px;
    height: 180px;
    margin: 0 -15px;
  }
  .col-md-12 {
    text-align: center;
    margin: 20px 0 20px 0;
  }
  .top_button {
    text-align: center;
    margin: 20px 0 20px 0;
  }
  .photo-text {
    text-align: center;
    margin-top: 10px;
  }
  .favorite-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .container {
    margin-top: 20px;
  }
  .row {
    margin-top: 20px;
  }
  .pagenate {
    text-align: center;
  }
  .box {
    width: 350px;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
  }
  .tag {
    margin: 10px;
  }
  .photos_searchForm {
    display: inline-block;
  }

  .photos_select {
    display: inline-block;
    width: auto;
  }
  .box3 {
    background-color: aliceblue;
  }
  .box6 {
    width: 100%;
    background-color: aliceblue;
  }
  .rank-text {
    text-align: center;
    margin: 10px;
  }
  .photo-image-box {
    background-color: aliceblue;
  }