// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-box {
    padding: 15px;
    margin: 10px 0 0 10px;
    display: inline-block;
}
.text-box {
    text-align: center;
}
.favorite-rankings {
    padding: 5%;
    width: 180px;
    height: 180px;
    margin: 0 -15px;
}
.col-md-12 {
    text-align: center;
    margin: 20px 0 20px 0;
}
.top_button {
    text-align: center;
    margin: 20px 0 20px 0;
}
.photo-text {
    text-align: center;
    margin-top: 10px;
}
.container {
    margin-top: 20px;
}
.row {
    margin-top: 20px;
}
.pagenate {
    text-align: center;
}